<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
    <meta content="text/css">
</head>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
<style type="text/css">
    .container-fluid {
        background-color: #2c802c;
    }

    div[class |= col] {
        border: 1px solid;
        color: #ded931;
    }

    .container {
        background: #fffbf7;
    }
</style>


<!--
流体容器：                             auto
固定容器：
     阀值                             width
     大于等于1200(lg 大屏)             1170(1140+槽宽)

     大于等于992(md 中屏)              970(1140+槽宽)
     小于1200

     大于等于768(sm 平板)              750(1140+槽宽@grid-gutter-width)
     小于992

     小于768(xs移动手机)              auto
栅格系统: 默认把栅格每行分成12列

  容器
    1. 流体容器与固定容器的公共样式
      margin-right: auto;
      margin-left: auto;
      padding-left:  floor((@gutter / 2)); 15px
      padding-right: ceil((@gutter / 2)); 15px
      &:extend(.clearfix all);
   2.固定容器特定样式 顺序不可变，由小到大
   3.行
      margin-left:  ceil((@gutter / -2)); 15px
      margin-right: floor((@gutter / -2)); 15px
   4.列
     第一步： .make-grid-columns() {
          .col(@index) { // initial
            @item: ~".col-xs-@{index}, .col-sm-@{index}, .col-md-@{index}, .col-lg-@{index}";
            .col((@index + 1), @item);
          }
          递归调用
          .col(@index, @list) when (@index =< @grid-columns) { // general; "=<" isn't a typo
            @item: ~".col-xs-@{index}, .col-sm-@{index}, .col-md-@{index}, .col-lg-@{index}";
            .col((@index + 1), ~"@{list}, @{item}");
          }
          .col(@index, @list) when (@index > @grid-columns) { // terminal
            @{list} {
              position: relative;
              min-height: 1px;
              padding-left:  ceil((@grid-gutter-width / 2));15px
              padding-right: floor((@grid-gutter-width / 2));15px
            }
          }
          .col(1); // kickstart it
        }
     第二步
     .make-grid(@class) {
          .float-grid-columns(@class);
          .loop-grid-columns(@grid-columns, @class, width);
          .loop-grid-columns(@grid-columns, @class, pull);
          .loop-grid-columns(@grid-columns, @class, push);
          .loop-grid-columns(@grid-columns, @class, offset);
        }

       .float-grid-columns(@class) {
          .col(@index) { // initial
            @item: ~".col-@{class}-@{index}";
            .col((@index + 1), @item);
          }
          .col(@index, @list) when (@index =< @grid-columns) { // general
            @item: ~".col-@{class}-@{index}";
            .col((@index + 1), ~"@{list}, @{item}");
          }
          .col(@index, @list) when (@index > @grid-columns) { // terminal
            @{list} {
              float: left;
            }
          }
          .col(1); // kickstart it
        }


<style type="text/css">
    .container-fluid{ 流体容器
        background-color: #5bc0de;
    }
    .container{ 固体容器
        background: pink;
    }
     div[class |= col]{//对div进行描边框,用属性
        border: 1px solid;
    }
</style> -->
<body>

<div class="container-fluid">flow layout</div>
<div class="container">fixed layout</div>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-2 col-sm-4">col-lg-10</div>
        <div class="col-lg-12 col-md-10 col-sm-8">col-lg-12</div>
    </div>
    <div class="row">
        <div class="col-lg-4">col-lg-10</div>
        <div class="col-lg-8">col-lg-2</div>
    </div>
    <div class="row">
        <div class="col-lg-2">col-lg-10</div>
        <div class="col-lg-10">col-lg-2</div>
    </div>
    <div class="row">
        <div class="col-lg-5">col-lg-10</div>
        <div class="col-lg-7">col-lg-2</div>
    </div>
    <div class="row">
        <div class="col-lg-6">col-lg-10</div>
        <div class="col-lg-6">col-lg-2</div>
    </div>
    <div class="row">
        <div class="col-lg-9">col-lg-10</div>
        <div class="col-lg-3">col-lg-2</div>
    </div>
</div>


</body>
<script type="text/javascript" src="js/bootstrap.min.js"/>
</html>